BasedOnStyle: WebKit

# Spaces
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: Yes

# Function calls
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Curly Braces
BreakBeforeBraces: Allman

# Alignment
AlignOperands: true

# Special
# This will make 
# void longFunc(int a,
#               int b)
# instead of
# void 
# longFunc(int a, int b)
PenaltyReturnTypeOnItsOwnLine: 1000