If:
  PathMatch: .*\.(cu|cuh|cpp|hpp|c|h)$
CompileFlags:
  Compiler: /usr/local/cuda/bin/nvcc

---

CompileFlags:
  Remove:
    # strip CUDA flags unknown to clang
    - "-gencode*"
    - "--generate-code*"
    - "-forward-unknown-to-host-compiler"
    - "-Xcompiler=-fPIC"
    - "--default-stream"